#grid
  display: grid
  grid-template-areas:  "display setting" "preview setting" "inputs setting"
  grid-template-columns: 2fr 1fr
#display
  grid-area: display
#preview
  grid-area:  preview
#graph
  grid-area: graph
#inputs
  grid-area: inputs