doctype html
html
  head
    meta(charset='utf-8')
    title DRP Editor
    meta(name='description' content='DRP(diffuse reflectance profile) editor for subsurface scattering')
    script(src="main.js" type="module") 
  body
    div#grid
      nav
        h1 RDP Editor
      canvas#result
      canvas#preview
      div#inputs
        canvas#graph
        input#distance(type="range" min="0" max="1" step="0.01")
        input#color(type="color")
      ul#setting
        li 
          label 曲線タイプ
            select#curveType
              option(value="gaussian") 正規分布
              option(value="spline") 3次スプライン
        li
          label 正規分布を3次スプラインにコンバート
            input#convertToSpline(type="button" value="コンバート")
        li
          label カーネルサイズ
            select#kernelSize
              option(value="13") 25
              option(value="9") 17
              option(value="6") 11
        li
          label 変換する画像
            input#rawTex(type="file" accept="image/*")
        li
          label マスク画像
            input#maskTex(type="file" accept="image/*")


