doctype html
html
  head
    meta(charset='utf-8')
    title DRP Editor
    meta(name='description' content='DRP(diffuse reflectance profile) editor for subsurface scattering')
    script(src="main.js" type="module") 
    link(rel="stylesheet", href="./css/canvas.css")
  body
    h1 RDP Editor
    .wrapper
      canvas#graph(width="700px", height="500px")
